
/* CSS des pages*/

/* variables*/

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/*reset css*/

*{
    margin: 0;
    padding: 0;
    box-sizing:boder-box;
    text-decoration: none;
    outline: none;
}

body{
    background-color: rgb(217, 218, 221);
}

ul {
    list-style: none;
}

/*basic style*/

.titre_page{
    text-align: center;
    letter-spacing: 3px;
    color: rgb(228, 115, 10);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-shadow: 15px 12px 4px #383a3b65;
    animation: appraition_titre 1.2s;
}

@keyframes appraition_titre {
	0% {opacity:0;}
	100% {opacity:1.0;}
}/* -----------------------------------------  contacts  -----------------------------------------------*/


.contacts{
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;


}

.contacter{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    font-size: 20px;
}

.iconemail {
    padding-top: 5px;
    text-align: center;
}

.contacter a {
    line-height: 45px;
}

/* -----------------------------------------  parteanaires  -------------------------------------------*/

.img_veloworld {
    padding-top: 25px;
    text-align: center;

}

.img_mainier {
    padding-top: 25px;
    text-align: center;
}


/*---------------------------------------------- animations -----------------------------------------*/

@media screen and (max-width:767.98px) { /*@media screen and (min-width:768px)*/

    .img_veloworld img{
        width:220px;

    }

    .img_img_mainier img{
        width:115px;

    }

}