
/* CSS des pages*/

/* variables*/

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/*reset css*/

*{
    margin: 0;
    padding: 0;
    box-sizing:boder-box;
    text-decoration: none;
    outline: none;
}

body{
    background-color: rgb(217, 218, 221);
}

ul {
    list-style: none;
}

/*basic style*/

.titre_page{
    padding-top:25px;
    text-align: center;
    letter-spacing: 3px;
    color: rgb(228, 115, 10);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-shadow: 15px 12px 4px #383a3b65;
    animation: appraition_titre 1.0s;
}

@keyframes appraition_titre {
	0% {opacity:0;}
	100% {opacity:1.0;}
}

/* -----------------------------------------  L'actualité  -------------------------------------------*/


.container_actualites {
    margin: 0px auto;
    width: 80%;
    height: 100%;
}

    /* ---  menu deroulant---*/

    .bouton_liste_actualite {
    background-color: #000000;
    border: solid 6px red;
    display: inline-block;
    text-align: center;
    color: #ff7b00;
    cursor: pointer;
    width: 120px;
    padding:10px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    }
    .boutonmenuprincipal:hover {
    background-color: #c5c3c3;
    }
    .deroulant_menu_actualite{

    text-align: right;
    position: relative;
    display: inline-block;
    width: 100%;

    }
    .deroulant_menu_actualite-child {
    display: none;
    background-color: #ee8522;
    min-width: 50px;
    }
    .deroulant_menu_actualite-child a {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    padding: 12px;
    text-decoration: none;
    display: block;
    
    }

    .deroulant_menu_actualite-child a:hover {
        color: rgb(0, 0, 0);
        }


    .deroulant_menu_actualite:hover .deroulant_menu_actualite-child {
    display: block;
    }
    /* ---  fin menu deroulant---*/



    .contenu_tous_articles{
        height: 100%;
    }


    .container_actualite_1{
        display:inline-block;
        text-align:center;
        margin-top: 18px;
        height: 100%;




    }

    .photo_actualite img{
        width: 80%;
        max-width: 500px;
        
    }

    .texte_actualite{
        margin-top: 12px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 12px;

    }


    p span {
        font-size: 20px;
        font-weight:bold;
        line-height: 30px;
      }


    

    
/* -----------------------------------------  La Maîchoise  -------------------------------------------*/

.info_maichoise{
    padding-top: 35px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
}

.on_vous_attend {
    height: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom:20px;
}


.on_vous_attend img{
    transform: rotate(-12deg);
}

.photos_maichoises{
    text-align: center;
}

.photos_maichoises img{
    padding: 20px 10px 0 10px;
    text-align: center;
    }

.credit_photo_maichoise{
    text-align: center;
    margin-bottom:40px;
}

.credit_photo_maichoise p1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

/* -----------------------------------------  parteanaires  -------------------------------------------*/

.img_veloworld {
    padding-top: 40px;
    text-align: center;
}

.img_mainier {
    padding-top: 40px;
    text-align: center;
}

.img_intermarche{
    padding-top: 40px;
    text-align: center;
}



/* -----------------------------------------  contacts  -----------------------------------------------*/


.contacts{
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
}

.contacter{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    font-size: 20px;
}

.iconemail {
    padding-top: 5px;
    text-align: center;
}

.contacter a {
    line-height: 45px;
}




/*---------------------------------------------- animations -----------------------------------------*/

@media screen and (max-width:767.98px) { /*@media screen and (min-width:768px)*/

    .img_veloworld img{
        width:220px;

    }

    .img_img_mainier img{
        width:115px;

    }

}


/********************************************************small devices**************************************************************/
@media screen and (max-width:767.98px) { /*@media screen and (max-width:767.98px)*/

    .contacter{
        text-align: center;
        font-size: 16px;

    }

    .contacts h1{
        font-size: 35px;
    }

}
