
/* CSS des pages*/

/* variables*/

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/*reset css*/

*{
    margin: 0;
    padding: 0;
    box-sizing:boder-box;
    text-decoration: none;
    outline: none;
}

body{
    background-color: rgb(217, 218, 221);
}

ul {
    list-style: none;
}

/*basic style*/

.titre_page{
    padding-top:25px;
    text-align: center;
    letter-spacing: 3px;
    color: rgb(228, 115, 10);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-shadow: 15px 12px 4px #383a3b65;
    animation: appraition_titre 1.0s;
}

@keyframes appraition_titre {
	0% {opacity:0;}
	100% {opacity:1.0;}
}

/* -----------------------------------------  L'actualité  -------------------------------------------*/


.container_bloc_actualites {
    margin: 0px auto;
    width: 90%;
    height: 100%;
}

    .container_actualite{
        display:inline-block;
        text-align:center;
        margin-top: 18px;
        height: 100%;
    }



    .groupe_photo img{
        object-fit: contain;
        width: 90%;
        height: 20%;
        max-height: 200px;
        max-width: 300px;
        padding: 15px;  
    }

    .texte_actualite{
        display:inline-block;
        width: 85%;
        margin-top: 12px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 12px;
        text-align: justify;
        font-size: 1rem;
    }

    .texte_actualite a {
        color: blue;
      }


    .texte_actualite p span {
        font-size: 20px;
        font-weight:bold;
        line-height: 40px;
      }

      .ligne_separatrice {
          width: 80%;
          height: 2px;
          border-bottom: 1px solid black;
      }

    
/* -----------------------------------------  La Maîchoise  -------------------------------------------*/

.info_maichoise{
    padding-top: 35px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
}

.on_vous_attend {
    height: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom:20px;
}


.on_vous_attend img{
    transform: rotate(-12deg);
}

.container_pour_bloc_photos{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 90%;
    height: 100%;
}

.photos_maichoises{
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    width: 500x;
    height:230px;
    padding: 15px;  
    text-align: center;
    text-align: center;
}

.photos_maichoises img{
    width: 300px;
    height:auto;
    padding: 20px 10px 0 10px;
    text-align: center;
    }

.credit_photo_maichoise{
    text-align: center;
    margin-bottom:2px;
    height: 15px;
}

.credit_photo_maichoise p1 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

.container_soutien{
    margin-right: auto;
    margin-left: auto;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 40px;
    width: 80%;
    text-align: center;
    margin-bottom: 37px;
    box-shadow: 10px 5px 5px #797776;
}

.partenaires_maichoise p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    padding:8px;
    color:blue

}

.partenaires_maichoise h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    margin: 12px;

}

/* -----------------------------------------  parteanaires  -------------------------------------------*/

.veloworld {
    padding-top: 40px;
    text-align: center;
}

.mainier {
    padding-top: 40px;
    text-align: center;
}

/* -----------------------------------------  contacts  -----------------------------------------------*/


.contacts{
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.contacter{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.iconemail {
    padding-top: 20px;
    text-align: center;
}

.contacter a {
    line-height: 40px;
    font-size: 1.0rem;
    color:black;
}

.contacter a span{
    line-height: 45px;
    color:blue
}

.iconefacebook {
    margin-top: 30px;
    text-align: center;
}

.iconefacebook p{
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    text-align: center;
    font-size: 1rem;
}

.iconefacebook img{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
}




/*---------------------------------------------- media -----------------------------------------*/

@media screen and (max-width:767.98px) { /*@media screen and (min-width:768px)*/


    /* ------ partenaires------*/
    .img_veloworld img{
        width:180px;
        height: auto;
    }

    .img_mainier img{
        width: 90px;
        height: auto;
    }

    .img_intermarche img {
        width: 220px;
        height: auto;

    }

    /* ------ partenaires------*/
    .contacter{
        text-align: center;
        font-size: 16px;

    }

    .contacts h1{
        font-size: 35px;
    }

    /* ------ contacts------*/
    .contacter a {
        line-height: 40px;
        font-size: 1.1rem;
        color:black;
    }

}
